*{
    font-family: 'Lato', sans-serif;
  }
.credential{
    background-image: linear-gradient(#00b46f,lightgrey,white);
    padding:5vw;
}
.credential .box{
    background-color: white;
    padding:10px;
    width:300px;
    margin-left: 32vw;
    margin-top: 4vw;
    text-align: center;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.credential input{
    width:250px;
    padding:5px;
    font-size: 15px;
}
.credential a{
    color:#00b46f;
}
.credential a:hover{
    color:#01915a;
}
#upper{
  border-bottom: 2px solid lightgray;
}
.cred{
  display:block;
  float: right;
}
.topnav {
  overflow: hidden;
  height:48px;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5px;
}
.topnav a {
  float: left;
  display: block;
  color: rgb(51, 51, 51);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  /* background-colo */
  color:#00b46f;
}
.topnav img{
    height:42px;
    padding:0px;
    margin:0px;
}
.topnav i{
    color: rgb(131, 131, 131);
    font-size: 25px;
    margin:0.5vw;
    float:right;
}
.topnav i:hover{
    color:#00b46f;
}
#upper i{
  display:block;
  float:left;
}
.topnav .icon {
  display: none;
}
#home{
    background-image: url(image/home.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    padding:3vw;
    display:flex;
}
#home .content{
    width:500px;
    color:rgb(70, 70, 70);
    margin:20px;
}
.btn{
    background-color: #00b46f;
    color:white;
    padding:10px;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
}
.btn:hover{
    background-color: #01915a;
}
.icons{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.icons i{
    font-size:50px;
    color:#00b46f;
    margin:20px;
}
.icons .box{
    margin:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
}
.icons .box:hover{
    transform: scale(1.1);
}
#about {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:10px;
}
#about img{
  width:500px;
  border-radius: 5px;
}
#about .content{
  width:500px;
  background-color: rgba(179, 179, 179, 0.3);
  padding:20px;
}
#review{
  text-align: center;
}
#review .rev{
  width:300px;
  text-align: center;
  border:2px solid lightgray;
  border-radius: 10px;
  padding:10px;
  margin:10px;
}
#review img{
  border-radius: 100px;
  width:100px;
}
#review i{
  color:#00b46f;
  margin:2px;
}
#latest{
  padding:20px;
  text-align: center;
}
#latest img{
  width:200px;
  transition: transform .2s;
}
#latest img:hover{
  transform: scale(1.1);
}
.products{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#latest h1{
  text-align: center;
}
#latest i{
  background-color: #00b46f;
  color:white;
  padding:10px;
  margin:10px;
  border-radius: 5px;
  border: 0px;
  font-size: 16px;
}
#latest input{
  width: 30px;
  padding:5px;
  margin-left: 15px;
}
#latest .price{
  display: flex;
  align-items: center;
  justify-content: center;
}
#latest .price h3{
  margin-right: 10px;
}
#latest i:hover{
  background-color: #01915a;
}
#latest .books{
  border: 2px solid lightgray;
  width:200px;
  margin:20px;
  padding:10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
#contact{
  background-image: url("image/letter-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-size: 100vw;
}
#contact .content{
  color: white;
  text-align: center;
  padding:100px;
  margin-left: 60vw;
}
#contact input{
  width:300px;
  height:30px;
  color:rgb(131, 131, 131);
  border-radius: 5px;
}
#arrival{
  background-color: #F1F3F0;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:4vw;
}
#arrival h2{
  color:#01915a;
}
#arrival .content{
  width:400px;
  margin:10px;
}
#arrival img{
  width:500px;
}
#footer{
  padding-left:14vw;
  background-color: lightgray;
}
.foot{
  display:block;
  float:left;
  margin:4vw;
  margin-bottom:0px;
  margin-top:0px;
}
.foot p:hover{
  color:#00b46f;
}
#latest #more{
  background-color: rgba(179, 179, 179, 0.8);
  color:white;
  font-size: 25px;
  font-weight: 50;
  padding:20px;
}
#latest #more:hover{
  background-color: rgba(129, 129, 129, 0.6);
}
.loader-container{
  position: fixed;
  top:0; left:0;
  z-index: 10000;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
}
.loader-container.fade-out{
  top:-120%;
}
@media (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media(max-width:600px){
    .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    color:#00b46f;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #myTopnav .cred i{
    font-size: 0px;
  }
  #home{
    background-size: cover;
  }
  .icons .box{
    margin:10px;
  }
  #about img{
    width:100vw;
  }
  #arrival img{
    width:90vw;
  }
  #contact{
    padding:10px;
    background-size: 100vh;
  }
  #contact .content{
    padding:0px;
    margin:0px;
  }
  .credential .box{
    margin: 5vw;
  }
}